.manga-form {
  margin-top: 2.5%;
  width: 30%;
  min-height: 81.2vh;
}

@media only screen and (max-width: 992px) {
  .manga-form {
    margin-top: 5%;
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .manga-form {
    margin-top: 10%;
  }
}
