.profile {
  width: 70%;
}

.profile-manga {
  width: 80%;
}

.profile-chapter,
.profile-actions {
  min-width: 10%;
  text-align: center;
  white-space: nowrap;
}

.profile-settings .table {
  width: 40%;
}

#deleteUser {
  padding-top: 15em;
}
