.edit-profile-form {
  margin-top: 12.5%;
  width: 30%;
  min-height: 61.2vh;
}

@media only screen and (max-width: 992px) {
  .edit-profile-form {
    margin-top: 20%;
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .edit-profile-form {
    margin-top: 50%;
  }
}
